{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <h1>Please sign in</h1>
    <div>
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
    </div>
    <div>
        <label for="{{ form.password.id_for_label }}">Password:</label>
        {{ form.password }}
    </div>
    <div>
        <p>Have no account?</p>
        <a href="{% url "signup" %}">Sign up now</a>
    </div>
    <button type="submit">Sign in</button>
</form>

{% endblock %}
