<footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Footer Content</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
          aliquam voluptatem veniam, est atque cumque eum delectus sint!
        </p>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 4</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Social Media</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://www.facebook.com/" class="text-dark">
              <i class="fa fa-facebook"></i> Facebook
            </a>
          </li>
          <li>
            <a href="https://www.telegram.org/" class="text-dark">
              <i class="fa fa-telegram"></i> Telegram
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/" class="text-dark">
              <i class="fa fa-instagram"></i> Instagram
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/" class="text-dark">
              <i class="fa fa-youtube"></i> YouTube
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-3 bg-light">
    <script>
      document.write("© " + new Date().getFullYear() + " Popcorn Cinema");
    </script>
  </div>
</footer>
